.icon_img{
  object-fit: cover;
  width: 40px;
  height: 40px;
}

/*forgot password*/
.fs-fp-link
{
 font-size: 18px;
 font-weight: normal;
}

.fp-semi-title-size{
  font-size: 20px;
}

/*zoom menu*/
.zoom{
font-size: 16px
color:#fff;
padding: 15px;
background-color: none;
transition: transform .2s;
}

.zoom:hover {
  text-decoration: underline;
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

/*logo width*/
.logo-width{
  max-width: 200px;
  width: 70.5%;
}

/*support tag*/
.suptag{
  font-size: 15px;
}

/*primary*/
.btn-primary {
  color: #fff;
  background-color: #990000;
  border-color: #990000;
}

.btn-primary:hover {
  color: #fff;
  background-color: #cc0000;
  border-color: #990000;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #e60000;
  border-color: #e60000;
  box-shadow: 0 0 0 0.2rem rgba(204, 60, 0, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #cc0000;
  border-color: #cc0000;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #e60000;
  border-color: #e60000;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(204, 60, 0, 0.5);
}

/*outline*/
.btn-outline-primary {
  color: #990000;
  border-color: #990000;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #cc0000;
  border-color: #990000;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(204, 60, 0, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #cc0000;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #e60000;
  border-color: #e60000;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(204, 60, 0, 0.5);
}

/*media*/
@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px;
  }

    .fp-md-center{
      text-align: center;
    }

    .fp-md-fs-title{
    font-size: 40px;
   }

    .fp-md-fs-semi{
    font-size: 15px;
   }
}

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px;
  }
    .position{
    position: absolute;
    background-color:#360000;
    height: 150px;
    width: 1200px;
    margin-top:290px;
    border-radius: 5px;
  }

    .fp-md-center{
      text-align: center;
    }

    .fp-md-fs-title{
    font-size: 40px;
   }

    .fp-md-fs-semi{
    font-size: 15px;
   }

}

@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }
    .position{
    position: absolute;
    background-color:#360000;
    height: 280px;
    width: 1200px;
    margin-top:250px;
    border-radius: 5px;
  }
    .fp-md-center{
      text-align: left;
    }


    .fp-md-fs-title{
    font-size: 60px;
   }

    .fp-md-fs-semi{
    font-size: 18px;

   }  
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px;
  }
    .position{
    position: absolute;
    background-color:#360000;
    height: 270px;
    width: 1200px;
    margin-top:200px;
    border-radius: 5px;
  }
    .fp-md-center{
    text-align: left;
  }

    .fp-md-fs-title{
    font-size: 60px;
   }

    .fp-md-fs-semi{
    font-size: 18px;

   }  


}
